.spot-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; /* Adjust the gap size as needed */
}

.large-image {
  grid-column: 1 / 2; /* Span across both grid columns */
  grid-row: 1 / 1; /* Adjust the grid rows */
}

.small-images {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; /* Adjust the gap size as needed */
  grid-column: 2 / 2; /* Span across both grid columns */
}

.small-images img {
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.large-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  border-radius: 10px;
}

.spot-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.spot-text {
  width: 900px;
  text-align: justify;
  margin-right: 50px;
}

.spot-callout {
  width: 400px;
  border: 1px solid black;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}

.mini-spot-details {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: flex-end;
}
.mini-spot-details span {
  font-size: 20px;
}

.spot-btn {
  cursor: pointer;
  width: 90%;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #303646;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  transition: transform 0.7s;
}

.post-review-btn {
  width: 180px;
}
.spot-btn:hover {
  transform: translateY(-5px);
}

.spot-review {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.review-header {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.review-cards {
  width: 500px;
  text-align: justify;
  padding: 15px 0;
}

.review-info {
  display: flex;
  width: 140px;
  justify-content: space-between;
  align-items: center;
}

.review-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.review-user-info p,
.review-user-info h3 {
  margin: 0;
}

.review-info i {
  color: white;
  background-color: #303646;
  padding: 15px;
  border-radius: 50%;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.small-images.hide-extra img:nth-child(n + 6) {
  display: none;
}
