/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

html,
body {
  box-sizing: border-box;
  margin: 0 50px;
  padding: 0;
  font-family: "Poppins", serif;
  background-color: #f0f5e7;
  color: #303646;
}
