.Navigation {
  display: flex;
  height: 130px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-a > a {
  text-decoration: none;
  color: inherit;
  padding: 5px 30px;
  font-size: 1.2rem;
  margin-left: 60px;
}

.nav-a > a:hover {
  padding: 5px 30px;
  background-color: #30364694;
  color: white;
  border-radius: 20px;
}

.Navigation a {
  text-decoration: none;
  color: inherit;
  padding: 5px 30px;
  font-size: 1.2rem;
}

.Navigation a:hover {
  background-color: #30364694;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
}

.company-name a:hover {
  background-color: transparent;
  color: #303646;
}

.Navigation ul {
  list-style: none;
  display: flex;
  width: 450px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.profile-nav ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 180px;
  margin: 0;
  padding: 0;
  top: 100%; /* Position the menu below the button */
  left: 0;
  background-color: #303646;
  color: black;
  z-index: 1; /* Add a higher z-index to ensure the menu appears above other elements */
  border-radius: 18px;
}

.hidden {
  visibility: hidden;
  height: 0;
  text-align: center;
}

.profile-dropdown li {
  padding: 10px;
  width: fit-content;
  color: white;
  font-size: 10px;
}

.profile-dropdown a {
  padding: 10px;
  width: fit-content;
  color: white;
  font-size: 10px;
}

.profile-dropdown li:first-child {
  margin-top: 10px;
}

.profile-nav .icon-btn {
  margin: 10px 0;
}

.li-links {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

.icon-btn {
  background: none;
  border: none;
  color: #303646;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 5px 5px;
  border: 1px solid #303646;
  border-radius: 20px;
}

.logout-btn {
  padding: 0px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #303646;
}

.login-btn {
  padding: 5px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #303646;
  border: 1px solid #303646;
  background-color: transparent;
}

.signup-btn {
  padding: 5px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #303646;
  border: 1px solid #303646;
  background-color: transparent;
}

.login-btn:hover {
  padding: 5px 31px;
  font-size: 1.2rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #303646;
}

.signup-btn:hover {
  padding: 5px 31px;
  font-size: 1.2rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #303646;
}

.navLinks {
  position: relative; /* Add relative positioning to the list container */
}

.navLinks li {
  position: relative; /* Add relative positioning to each list item */
}

.profile-dropdown hr {
  border: none; /* Remove the default border */
  border-top: 1px solid #ccc; /* Add a custom border */
  margin: 10px 0; /* Adjust the margin for spacing */
  width: 80%; /* Set the width to 100% to occupy the entire width of the menu */
}

.profile-btn {
  padding: 8px 30px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.profile-btn:hover {
  padding: 8px 30px;
  margin-bottom: 10px;
  background-color: white;
  color: #303646;
  border-radius: 10px;
  cursor: pointer;
}

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(8px);
  z-index: 9999;
}

.modal-hidden {
  display: none;
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-hidden {
  display: none;
}

.fas {
  padding-right: 5px;
  padding-left: 5px;
}

.profile-btn-links {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.profile-btn-links::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
  transform: translateX(-50%);
}

.profile-btn-links:hover::before {
  width: 80%;
}
